### **Project 1** - San Diego Gas Prices
#### Vanessa Dumlao, Shruti Palur Mallampalli, Noelle Watson

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from config import numbeo_api

In [2]:
# Pull in gas prices csv
gas_prices_data = pd.read_csv("Resources/gas-prices-10-04.csv")
gas_prices_data.head()

,title,address,gasPrices/0/currency,gasPrices/0/gasType,gasPrices/0/price,gasPrices/0/priceTag,gasPrices/0/unit,gasPrices/0/updatedAt,gasPrices/1/currency,gasPrices/1/gasType,...,gasPrices/3/updatedAt,website,phone,totalScore,rank,reviewsCount,isAdvertisement,categoryName,searchString,url
0,Shell,"1011 A St, San Diego, CA 92101",USD,Regular,7.0,$7.00,gallon,2023-10-03T09:20:18.000Z,USD,Midgrade,...,NaN,https://find.shell.com/us/fuel/10008234-1011-a-st,(619) 232-2906,3.3,4,124,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Shell/@32.71...
1,Shell,"2777 Health Center Dr, San Diego, CA 92123",USD,Regular,7.0,$7.00,gallon,2023-10-02T15:59:32.000Z,USD,Midgrade,...,2023-10-03T04:43:15.000Z,https://find.shell.com/us/fuel/12476277-2777-h...,(859) 279-3673,3.5,3,40,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Shell/@32.79...
2,Texas Street Valero,"4616 Texas St, San Diego, CA 92116",USD,Regular,6.4,$6.40,gallon,2023-10-03T05:53:19.000Z,USD,Midgrade,...,2023-10-03T05:53:19.000Z,NaN,(619) 296-4913,4.1,37,235,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Texas+Street...
3,Chevron,"7070 Clairemont Mesa Blvd, San Diego, CA 92117",USD,Regular,6.3,$6.30,gallon,2023-10-03T09:15:59.000Z,USD,Midgrade,...,2023-10-03T09:15:59.000Z,http://www.chevronwithtechron.com/stations/sta...,(858) 922-4894,3.7,35,20,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Chevron/@32....
4,Laurel Pacific Gas (Valero),"2499 Pacific Hwy, San Diego, CA 92101",USD,Regular,6.8,$6.80,gallon,2023-10-03T09:17:23.000Z,USD,Midgrade,...,2023-10-03T08:24:45.000Z,https://locations.valero.com/en-us/LocationDet...,(619) 338-4965,3.7,36,147,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Laurel+Pacif...

In [3]:
# Parse out zip code
gas_prices_data['zip code'] = gas_prices_data['address'].str.split().str[-1]
gas_prices_data.head()

,title,address,gasPrices/0/currency,gasPrices/0/gasType,gasPrices/0/price,gasPrices/0/priceTag,gasPrices/0/unit,gasPrices/0/updatedAt,gasPrices/1/currency,gasPrices/1/gasType,...,website,phone,totalScore,rank,reviewsCount,isAdvertisement,categoryName,searchString,url,zip code
0,Shell,"1011 A St, San Diego, CA 92101",USD,Regular,7.0,$7.00,gallon,2023-10-03T09:20:18.000Z,USD,Midgrade,...,https://find.shell.com/us/fuel/10008234-1011-a-st,(619) 232-2906,3.3,4,124,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Shell/@32.71...,92101
1,Shell,"2777 Health Center Dr, San Diego, CA 92123",USD,Regular,7.0,$7.00,gallon,2023-10-02T15:59:32.000Z,USD,Midgrade,...,https://find.shell.com/us/fuel/12476277-2777-h...,(859) 279-3673,3.5,3,40,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Shell/@32.79...,92123
2,Texas Street Valero,"4616 Texas St, San Diego, CA 92116",USD,Regular,6.4,$6.40,gallon,2023-10-03T05:53:19.000Z,USD,Midgrade,...,NaN,(619) 296-4913,4.1,37,235,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Texas+Street...,92116
3,Chevron,"7070 Clairemont Mesa Blvd, San Diego, CA 92117",USD,Regular,6.3,$6.30,gallon,2023-10-03T09:15:59.000Z,USD,Midgrade,...,http://www.chevronwithtechron.com/stations/sta...,(858) 922-4894,3.7,35,20,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Chevron/@32....,92117
4,Laurel Pacific Gas (Valero),"2499 Pacific Hwy, San Diego, CA 92101",USD,Regular,6.8,$6.80,gallon,2023-10-03T09:17:23.000Z,USD,Midgrade,...,https://locations.valero.com/en-us/LocationDet...,(619) 338-4965,3.7,36,147,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Laurel+Pacif...,92101

In [4]:
# Rename Columns
gas_prices_data_df = gas_prices_data.rename(columns={"title" : "business",
                                "gasPrices/0/currency" : "gas1 currency",
                                "gasPrices/0/gasType" : "gas1 type",
                                "gasPrices/0/price": "gas1 price",
                                "gasPrices/0/priceTag" : "gas1 pricetag",
                                "gasPrices/0/unit": "gas1 unit",
                                "gasPrices/0/updatedAt" : "gas1 updated",
                                "gasPrices/1/currency" : "gas2 currency",
                                "gasPrices/1/gasType": "gas2 type",
                                "gasPrices/1/price": "gas2 price",
                                "gasPrices/1/priceTag": "gas2 pricetag",
                                "gasPrices/1/unit": "gas2 unit",
                                "gasPrices/1/updatedAt" : "gas2 updated",
                                "gasPrices/2/currency" : "gas3 currency",
                                "gasPrices/2/gasType": "gas3 type",
                                "gasPrices/2/price": "gas3 price",
                                "gasPrices/2/priceTag": "gas3 pricetag",
                                "gasPrices/2/unit": "gas3 unit",
                                "gasPrices/2/updatedAt": "gas3 updated",
                                "gasPrices/3/currency": "gas4 currency",
                                "gasPrices/3/gasType": "gas4 type",
                                "gasPrices/3/price": "gas4 price",
                                "gasPrices/3/priceTag": "gas4 pricetag",
                                "gasPrices/3/unit" :"gas4 unit",
                                "gasPrices/3/updatedAt" : "gas4 updated"
    
})

In [5]:
gas_prices_data_df.head()

,business,address,gas1 currency,gas1 type,gas1 price,gas1 pricetag,gas1 unit,gas1 updated,gas2 currency,gas2 type,...,website,phone,totalScore,rank,reviewsCount,isAdvertisement,categoryName,searchString,url,zip code
0,Shell,"1011 A St, San Diego, CA 92101",USD,Regular,7.0,$7.00,gallon,2023-10-03T09:20:18.000Z,USD,Midgrade,...,https://find.shell.com/us/fuel/10008234-1011-a-st,(619) 232-2906,3.3,4,124,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Shell/@32.71...,92101
1,Shell,"2777 Health Center Dr, San Diego, CA 92123",USD,Regular,7.0,$7.00,gallon,2023-10-02T15:59:32.000Z,USD,Midgrade,...,https://find.shell.com/us/fuel/12476277-2777-h...,(859) 279-3673,3.5,3,40,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Shell/@32.79...,92123
2,Texas Street Valero,"4616 Texas St, San Diego, CA 92116",USD,Regular,6.4,$6.40,gallon,2023-10-03T05:53:19.000Z,USD,Midgrade,...,NaN,(619) 296-4913,4.1,37,235,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Texas+Street...,92116
3,Chevron,"7070 Clairemont Mesa Blvd, San Diego, CA 92117",USD,Regular,6.3,$6.30,gallon,2023-10-03T09:15:59.000Z,USD,Midgrade,...,http://www.chevronwithtechron.com/stations/sta...,(858) 922-4894,3.7,35,20,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Chevron/@32....,92117
4,Laurel Pacific Gas (Valero),"2499 Pacific Hwy, San Diego, CA 92101",USD,Regular,6.8,$6.80,gallon,2023-10-03T09:17:23.000Z,USD,Midgrade,...,https://locations.valero.com/en-us/LocationDet...,(619) 338-4965,3.7,36,147,False,Gas station,gas station in San Diego,https://www.google.com/maps/place/Laurel+Pacif...,92101

In [6]:
gas_prices_data_df.columns.tolist()

['business',
 'address',
 'gas1 currency',
 'gas1 type',
 'gas1 price',
 'gas1 pricetag',
 'gas1 unit',
 'gas1 updated',
 'gas2 currency',
 'gas2 type',
 'gas2 price',
 'gas2 pricetag',
 'gas2 unit',
 'gas2 updated',
 'gas3 currency',
 'gas3 type',
 'gas3 price',
 'gas3 pricetag',
 'gas3 unit',
 'gas3 updated',
 'gas4 currency',
 'gas4 type',
 'gas4 price',
 'gas4 pricetag',
 'gas4 unit',
 'gas4 updated',
 'website',
 'phone',
 'totalScore',
 'rank',
 'reviewsCount',
 'isAdvertisement',
 'categoryName',
 'searchString',
 'url',
 'zip code']

In [7]:
cleaned_gas_df = gas_prices_data_df[["business", "zip code", "address", "gas1 currency", "gas1 type", "gas1 price", "gas1 pricetag", "gas1 unit", "gas1 updated",
                                    "gas2 currency", "gas2 type", "gas2 price", "gas2 pricetag", "gas2 unit", "gas2 updated",
                                    "gas3 currency", "gas3 type", "gas3 price", "gas3 pricetag", "gas3 unit", "gas3 updated"]].copy()

In [8]:
cleaned_gas_df.head()

,business,zip code,address,gas1 currency,gas1 type,gas1 price,gas1 pricetag,gas1 unit,gas1 updated,gas2 currency,...,gas2 price,gas2 pricetag,gas2 unit,gas2 updated,gas3 currency,gas3 type,gas3 price,gas3 pricetag,gas3 unit,gas3 updated
0,Shell,92101,"1011 A St, San Diego, CA 92101",USD,Regular,7.0,$7.00,gallon,2023-10-03T09:20:18.000Z,USD,...,7.11,$7.11,gallon,2023-10-02T19:38:42.000Z,USD,Premium,7.2,$7.20,gallon,2023-10-02T13:26:42.000Z
1,Shell,92123,"2777 Health Center Dr, San Diego, CA 92123",USD,Regular,7.0,$7.00,gallon,2023-10-02T15:59:32.000Z,USD,...,7.20,$7.20,gallon,2023-10-02T19:28:22.000Z,USD,Premium,7.3,$7.30,gallon,2023-10-02T19:28:22.000Z
2,Texas Street Valero,92116,"4616 Texas St, San Diego, CA 92116",USD,Regular,6.4,$6.40,gallon,2023-10-03T05:53:19.000Z,USD,...,6.60,$6.60,gallon,2023-10-03T05:53:19.000Z,USD,Premium,6.8,$6.80,gallon,2023-10-03T05:53:19.000Z
3,Chevron,92117,"7070 Clairemont Mesa Blvd, San Diego, CA 92117",USD,Regular,6.3,$6.30,gallon,2023-10-03T09:15:59.000Z,USD,...,6.50,$6.50,gallon,2023-10-03T09:15:59.000Z,USD,Premium,6.6,$6.60,gallon,2023-10-03T09:15:59.000Z
4,Laurel Pacific Gas (Valero),92101,"2499 Pacific Hwy, San Diego, CA 92101",USD,Regular,6.8,$6.80,gallon,2023-10-03T09:17:23.000Z,USD,...,6.90,$6.90,gallon,2023-10-02T05:37:50.000Z,USD,Premium,7.0,$7.00,gallon,2023-10-02T10:00:45.000Z

In [9]:
cleaned_gas_df.count()

business         151
zip code         151
address          151
gas1 currency    133
gas1 type        133
gas1 price       133
gas1 pricetag    133
gas1 unit        133
gas1 updated     133
gas2 currency    133
gas2 type        133
gas2 price       133
gas2 pricetag    133
gas2 unit        133
gas2 updated     133
gas3 currency    133
gas3 type        133
gas3 price       133
gas3 pricetag    133
gas3 unit        133
gas3 updated     133
dtype: int64

In [10]:
extra_clean_gas = cleaned_gas_df.dropna()
extra_clean_gas.count()

business         133
zip code         133
address          133
gas1 currency    133
gas1 type        133
gas1 price       133
gas1 pricetag    133
gas1 unit        133
gas1 updated     133
gas2 currency    133
gas2 type        133
gas2 price       133
gas2 pricetag    133
gas2 unit        133
gas2 updated     133
gas3 currency    133
gas3 type        133
gas3 price       133
gas3 pricetag    133
gas3 unit        133
gas3 updated     133
dtype: int64

In [11]:
print(extra_clean_gas['gas1 currency'].unique())
print(extra_clean_gas['gas1 type'].unique())
print(extra_clean_gas['gas1 unit'].unique())
print(extra_clean_gas['gas2 currency'].unique())
print(extra_clean_gas['gas2 type'].unique())
print(extra_clean_gas['gas2 unit'].unique())
print(extra_clean_gas['gas3 currency'].unique())
print(extra_clean_gas['gas3 type'].unique())
print(extra_clean_gas['gas3 unit'].unique())

['USD']
['Regular']
['gallon']
['USD']
['Midgrade']
['gallon']
['USD']
['Premium']
['gallon']

In [12]:
# Gas

In [13]:
# Read in CSV and clean data
SD_median_income = pd.read_csv("Resources/Household Income Median.csv")
SD_median_income = SD_median_income.rename(columns={'Zip':'zip code'})
SD_median_income = SD_median_income.dropna()
SD_median_income.head()

  zip code  Household Income Median
0    92014                 155531.0
1    92025                  58273.0
2    92027                  65989.0
3    92037                 109194.0
4    92071                  87334.0

In [14]:
# Find unique number of zipcodes in income dataset
SD_median_income['zip code'].unique()

array(['92014', '92025', '92027', '92037', '92071', '92101', '92102',
       '92103', '92104', '92105', '92106', '92107', '92108', '92109',
       '92110', '92111', '92113', '92114', '92115', '92116', '92117',
       '92119', '92120', '92121', '92122', '92123', '92124', '92126',
       '92127', '92128', '92129', '92130', '92131', '92139', '92145',
       '92154', '92173'], dtype=object)

In [15]:
# Find unique number of zipcodes in gas dataset
extra_clean_gas['zip code'].unique().size

30

In [16]:
# Calculate average gas prices per zip code
averaged_gas1_prices = extra_clean_gas.groupby(["zip code"])["gas1 price"].mean()
averaged_gas2_prices = extra_clean_gas.groupby(["zip code"])["gas2 price"].mean()
averaged_gas3_prices = extra_clean_gas.groupby(["zip code"])["gas3 price"].mean()

In [17]:
# Create df with avg gas prices per zip
gas_price_per_zip_avg = pd.DataFrame(
    {
        "Regular avg": averaged_gas1_prices,
        "Midgrade avg": averaged_gas2_prices,
        "Premium avg": averaged_gas3_prices,
    }
)
gas_price_per_zip_avg.head()

          Regular avg  Midgrade avg  Premium avg
zip code
92101        6.685714      6.858571     6.957143
92102        6.333333      6.533333     6.683333
92103        6.540000      6.760000     6.920000
92104        6.365556      6.560000     6.747778
92105        6.283333      6.435000     6.688333

In [18]:
# Load in csv with lat, long, population, density
zip_df = pd.read_csv("Resources/uszips.csv")
sd_zip_df_unclean = zip_df.loc[zip_df["county_names_all"] == "San Diego", :]
sd_zip_df_unclean = sd_zip_df_unclean.rename(columns={'zip':'zip code'})
# Create df of only info we want
sd_zip_df = sd_zip_df_unclean[['zip code', 'lat', 'lng', 'city', 'population', 'density']]
sd_zip_df = pd.DataFrame(sd_zip_df)

len(sd_zip_df)

112

In [19]:
# # Making sure zip in all dfs are string types
# sd_zip_df['zip code'] = sd_zip_df['zip code'].astype(int)
# gas_price_per_zip_avg['zip code'] = gas_price_per_zip_avg['zip code'].astype(int)
# SD_median_income['zip code'] = SD_median_income['zip code'].astype(int)

In [20]:
df = sd_zip_df.loc[['92014', '92025', '92027', '92037', '92071', '92101', '92102',
       '92103', '92104', '92105', '92106', '92107', '92108', '92109',
       '92110', '92111', '92113', '92114', '92115', '92116', '92117',
       '92119', '92120', '92121', '92122', '92123', '92124', '92126',
       '92127', '92128', '92129', '92130', '92131', '92139', '92145',
       '92154', '92173']]

KeyError: "None of [Index(['92014', '92025', '92027', '92037', '92071', '92101', '92102', '92103',\n       '92104', '92105', '92106', '92107', '92108', '92109', '92110', '92111',\n       '92113', '92114', '92115', '92116', '92117', '92119', '92120', '92121',\n       '92122', '92123', '92124', '92126', '92127', '92128', '92129', '92130',\n       '92131', '92139', '92145', '92154', '92173'],\n      dtype='object')] are in the [index]"

In [ ]:
merg_zip_data = sd_zip_df.merge(gas_price_per_zip_avg, on=['zip code'], how='right')

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat